/*************************************************************************************
                        nav styles
 *************************************************************************************/
 nav{
    background-color: #6a197d;
  }
  /*************************************************************************************
                          Login styles
   *************************************************************************************/
  .title{
    background-color: #e0dede;
    font-weight: 600;
    padding:15px;
  }
  
select{
  display: block;
}

.signin-select{
  width:100%;
  padding-left: 15%;
  padding-right: 15%;
}
.btn{
  color:#f5f5f5;
  background-color: #6a197d !important;
  margin-bottom: 20px;
}

.btn:hover{
  color:#f5f5f5;
  background-color: #9c4ead !important;
}

.avatarIcon{
  height:80px;
  width: 80px;
  border-radius: 50%;
}

.image{
  border-right: 2px solid #e0dede;
  margin-top: 25px;

}

.question-card{
display: grid;
}

.tab{
  background-color: #f5f5f5 !important;
  border: none;
}

.bold{
  font-weight: 600;
}

.progress{
  width: auto;
  padding-left: 15px;
  padding-right: 15px
}

.answer-card{
  display: grid;
  margin:10px;
}

.car.green{
  background-color: #9c4ead ;
}

.avatarIcon2{
  height:30px;
  width: 30px;
  border-radius: 50%;
}

.logout{
  padding-right: 10px;
}