

/*************************************************************************************
                        nav styles
 *************************************************************************************/
nav{
  background-color: #6a197d;
}
/*************************************************************************************
                        Login styles
 *************************************************************************************/
.title{
  background-color: #e0dede;
  font-weight: 600;
  padding:15px;
}

select{
  display: block;
}

.signin-select{
  width:100%;
  padding-left: 15%;
  padding-right: 15%;
}
.btn{
  color:#f5f5f5;
  background-color: #6a197d !important;
  margin-bottom: 20px;
}
.btn:hover{
  color:#f5f5f5;
  background-color: #9c4ead !important;
}

.card.nav-wrapper{
  background-color: #ffa5b0 !important;
}
.avatarIcon{
    border-radius: 50%;
    width:50%;
}
.avatarIcon2{
    border-radius: 50%;
    width:30px;
    vertical-align: middle;
    margin-right: 15px;;
    /* position: absolute; */
    /* top:50%;
    right:12%; */
    /* padding-top:10px; */
    /* transform: translate(-50%,-50%); */
}

.image{
  border-right: solid 2px #e0dede;
}
.content-box{
  padding:20px;
  display: flex;
}

.col::after{
  content: '';
  clear:both;
}

.bold{
  font-weight: 700;
}

.tab{
  background-color: #f5f5f5 !important;
  border: none;

}
.tab a.active{
  background-color: #e0dede !important;
  border: none;

}