/*************************************************************************************
                        nav styles
 *************************************************************************************/
 nav{
    background-color: #6a197d;
  }
  /*************************************************************************************
                          Login styles
   *************************************************************************************/
  .title{
    background-color: #e0dede;
    font-weight: 600;
    padding:15px;
  }
  
select{
  display: block;
}

.signin-select{
  width:100%;
  padding-left: 15%;
  padding-right: 15%;
}
.btn{
  color:#f5f5f5;
  background-color: #6a197d !important;
  margin-bottom: 20px;
}

.btn:hover{
  color:#f5f5f5;
  background-color: #9c4ead !important;
}

.avatarIcon{
  height:40px;
  width: 40px;
  border-radius: 50%;
}
  